h2{
    font-family: "Shadows Into Light Two", serif;
    text-align: center;
}
header{
    text-align: center;
    background: url("images/pawprints.png");
    background-size: cover;
    padding: 20px, 0px, 0px, 0px
}
li{
    padding: 0px, 10px, 0px, 10px;
    display: inline;
}
h1{
    font-size: 50px;
    font-family: "Shadows Into Light Two", serif;
    text-align: center;
}
#header-pic{
    margin: 40px 0px 0px 0px;
    border: black;
    border-width: 7px;
    border-style: solid;
    border-radius: 15px;
}
ul {
    padding: 10px;
    background: rgba(255, 255, 255, 0.3);

  }
a{
    color: black;
    font-size: 20px;
}
.top{
    text-shadow: -3px -3px 0 #ffffff, 3px -3px 0 #ffffff, -3px 3px 0 #ffffff, 3px 3px 0 #ffffff;
}
body{
    text-align: center;
}
